In [1]:
import pymongo
from pymongo import MongoClient
import os
from os import listdir
import pandas as pd
import re
import glob
import sys

pd.set_option('display.max_colwidth', None)

In [2]:
# Read Previous Database into DF

client = pymongo.MongoClient("mongodb+srv://AtlasTwitter:1FineTwitterApp!@twittercluster.ycq9k.mongodb.net/")
mongo_db = client["Tweets_DB"]
mongo_collection = mongo_db["Combined_Tweets"]


tweets_df = pd.DataFrame(list(mongo_collection.find()))
tweets_df.head()

,_id,level_0,index,Tweet Id,Name,Username,Gender,Vocation,Hashtags(#),Total #,Mentions(@),Total @,Likes,Retweets,Images,Videos,Date,Time,Identity
0,60be2af24a7a5d65a6b422e1,54,54,"""1209691918445080576""","""Akshay Kumar""",akshaykumar,Male,Entertainment,"['#MerryChristmas', '#GoodNewwz', '#KareenaKapoorKhan']",3,"['@diljitdosanjh', '@Advani_Kiara', '@karanjohar', '@apoorvamehta18', '@ShashankKhaitan']",5,10489,1147,Image added,-,2019-12-25,04:26:43,Akshay Kumar
1,60be2af24a7a5d65a6b422b5,10,10,"""1213014776369934336""","""Akshay Kumar""",akshaykumar,Male,Entertainment,['#CapeOfGoodFilms'],1,"['@azeem2112', '@ZeeStudios_', '@DharmaMovies', '@ZeeMusicCompany""']",4,2139,215,-,-,2020-01-03,08:30:34,Akshay Kumar
2,60be2af24a7a5d65a6b422fc,81,81,"""1207994673781858305""","""Dharma Productions""",dharmamovies,Male,Entertainment,"['#1WeekToGoodNewwz', '#GoodNewwz', '#Christmas,', '#KareenaKapoorKhan']",4,"['@akshaykumar', '@diljitdosanjh', '@advani_kiara', '@karanjohar', '@apoorvamehta18', '@ShashankKhaitan', '@raj_a_mehta', '@NotSoSnob']",8,4716,517,-,Video added,2019-12-20,12:02:28,Akshay Kumar
3,60be2af24a7a5d65a6b42331,134,134,"""1201355151186911232""","""Akshay Kumar""",akshaykumar,Male,Entertainment,"['#GoodNewwz', '#KareenaKapoorKhan']",2,"['@diljitdosanjh', '@Advani_Kiara', '@karanjohar', '@apoorvamehta18', '@ShashankKhaitan', '@raj_a_mehta', '@NotSoSnob', '@ZeeStudios_']",8,10705,1095,Image added,-,2019-12-02,04:19:22,Akshay Kumar
4,60be2af24a7a5d65a6b42338,141,141,"""1200063604353110017""","""Akshay Kumar""",akshaykumar,Male,Entertainment,['#CapeOfGoodFilms'],1,"['@boscomartis', '@ZeeStudios_', '@DharmaMovies', '@ZeeMusicCompany""']",4,1203,182,-,-,2019-11-28,14:47:14,Akshay Kumar

In [3]:
identity_group_df = tweets_df.groupby("Identity")

In [5]:
identity_group_count_df = identity_group_df.count()
identity_group_sum_df = identity_group_df.sum()
identity_group_avg_df = identity_group_df.mean()
# identity_group_min_df = identity_group_df.min()
# identity_group_max_df = identity_group_df.max()

In [7]:
identity_group_sum_df

                     level_0    index  Total #  Total @
Identity
Akshay Kumar         5192253  5192253     3231     5110
Amitabh Bachchan    19213338  7081966     1055     5203
Ariana Grande       27977139  5276376      185     2367
BBC                 48728295  5227761      779      137
Barack Obama        38075245  5166505     1826      537
Bill Gates          59505875  5279625      922     1568
Britney Spears      72065940  5562780     1854     2276
Bruno Mars          79982770  5166505     1004     1413
CNN                101594460  5263390      135      288
CNN Breaking        89873600  5118400      148        5
Cristiano Ronaldo  116472745  5659930     1498     1563
Donald Trump       124468016  5380840      779     1797
Drake               70955439  1537381      224      722
ESPN               143889711  5596185      362     1886
FC Barcelona       161240499  6032601     1985     2117
Harry Styles       159252951  5121600      177     1840
Instagram          174303844  5407116     2196     1096
J Lo               200395845  5659930     2991     2910
Jimmy Fallon       181705265  5214835     3031     3831
Justin Bieber      205070523  5318691     2315     2156
Justin Timberlake  216185508  5341546     2947     2986
Katy Perry         232629025  5609575     1914     2374
Kevin Hart         233658999  5160078     2860     2126
Kim Kardashian     303594993  7910253     1499     2130
Lady Gaga          276193883  5952975     2077     1996
Le Bron James      291427215  6088305     2643     2588
Liam Payne         293763502  5707131     1334     2660
Lil Wayne          189502292  2231328      480      642
Louis Tomlinson    297180691  5176153      535     2264
Miley Cyrus        343169792  6420736     2169     2866
NASA               395204670  7244721     2684     5452
NY Times           365180905  5134410       84      488
Narendra Modi      435197718  9520066     1075     1769
Neymar Jr          349939810  5312170     2326     2761
Niall Horan        372357440  5659930     1156     4074
Oprah              378303182  5211606     2403     3787
Pink               386899713  5163291     1004     1688
Real Madrid        429313605  6018715     5774     4390
Rihanna            423057024  5536128     3137     1940
Salman Khan        424094946  5286126     1413     4150
Selena Gomez       433182337  5250420     1213     1629
Shah Rukh Khan     442024268  5211606      523     1174
Shakira            505956057  6499815     2340     2663
Sports Center      475143325  5459860      468     1463
Taylor Swift       103644603   252405      325      392
The Ellen Show     474971240  5166505     1845     2935
Twitter            485765145  5176153       53     3178
Virat Kohli        338674354  2427706     1207     1556
Wiz Khalifa        519332660  5509540      694     2478
Youtube            528902451  5479705     1461     3024

In [8]:
tweets_df.dtypes

_id            object
level_0         int64
index           int64
Tweet Id       object
Name           object
Username       object
Gender         object
Vocation       object
Hashtags(#)    object
Total #         int64
Mentions(@)    object
Total @         int64
Likes          object
Retweets       object
Images         object
Videos         object
Date           object
Time           object
Identity       object
dtype: object

In [12]:
pd.to_numeric(tweets_df['Likes'])

ValueError: Unable to parse string ""salad"" at position 151085

In [13]:
client = pymongo.MongoClient("mongodb+srv://AtlasTwitter:1FineTwitterApp!@twittercluster.ycq9k.mongodb.net/")
mongo_db = client["Tweets_DB"]
mongo_collection = mongo_db["Tweets_v2"]

tweets_df = pd.DataFrame(list(mongo_collection.find()))
tweets_df.head()

,_id,index,Tweet Id,Name,Username,Tweet Content,Retweets,Likes,Tweet Type,Identity,Mentions(@),Hashtags(#),Total @,Total #,Date,Time,Images,Videos
0,60e6c7c6e59504fac2ad5abb,0,"""1220262518519521281""","""Akshay Kumar""",akshaykumar,"""The story continues with another melody... #FilhallPart2\n\n@NupurSanon @bpraak @AmmyVirk \n@yourjaani @arvinderkhaira @azeem2112 @VarunG0707 @_hypepr #desimelodies #CapeOfGoodFilms https://t.co/V1fG9FRLDE""",740,3495,Tweet,Akshay Kumar,"[@NupurSanon, @bpraak, @AmmyVirk, @yourjaani, @arvinderkhaira, @azeem2112, @VarunG0707, @_hypepr]","[#FilhallPart2, #desimelodies, #CapeOfGoodFilms]",8,3,2020-01-23,08:30:30,Image added,NaN
1,60e6c7c6e59504fac2ad5abc,1,"""1220236816604749824""","""Akshay Kumar""",akshaykumar,"""#Durgavati begins, with blessings and good vibes , as always need your best wishes as well 🙏🏻\n\n@bhumipednekar\n@itsBhushanKumar \n@vikramix \nAshok\n@Abundantia_Ent\n@TSeries\n#CapeOfGoodFilms https://t.co/GuIwJDM8Xi""",790,7335,Tweet,Akshay Kumar,"[@bhumipednekar, @itsBhushanKumar, @vikramix, @Abundantia_Ent, @TSeries]","[#Durgavati, #CapeOfGoodFilms]",5,2,2020-01-23,06:48:22,Image added,NaN
2,60e6c7c6e59504fac2ad5abd,2,"""1219804361133477890""","""Akshay Kumar""",akshaykumar,"""Just like the new #Activa6G, would you like to see me hit a few 6s out of the park too?\nSo, get ready to watch @taapsee and me battle it out in Activa 6G #GameOfSixes on 26th January, 6PM onwards, only on @StarSportsIndia network. #6ChangesTheGame @honda2wheelerin https://t.co/9Z4c8tcPb1""",1076,11087,Tweet,Akshay Kumar,"[@taapsee, @StarSportsIndia, @honda2wheelerin]","[#Activa6G,, #GameOfSixes, #6ChangesTheGame]",3,3,2020-01-22,02:09:57,NaN,Video added
3,60e6c7c6e59504fac2ad5abe,3,"""1219491375793635329""","""Akshay Kumar""",akshaykumar,"""Do more of what you love doing and that’s exactly what the birthday girl did. Spent the past week in Singapore taking mom to her favorite place in the whole world : the casino 🎲 https://t.co/tS2nC7T3Qy""",1445,19572,Tweet,Akshay Kumar,[],[],0,0,2020-01-21,05:26:15,NaN,Video added
4,60e6c7c6e59504fac2ad5abf,4,"""1219156453354655745""","""Akshay Kumar""",akshaykumar,"""Either you run the day or the day runs you 👊🏻 #MondayVibes #LetsDoThis https://t.co/yfoAxVaAem""",1868,30880,Tweet,Akshay Kumar,[],"[#MondayVibes, #LetsDoThis]",0,2,2020-01-20,07:15:23,Image added,NaN