In [1]:
import pymongo
from pymongo import MongoClient
import os
from os import listdir
import pandas as pd
import re
import glob
import sys

pd.set_option('display.max_colwidth', None)

In [2]:
# Read In CSV file
filename = "../Output_CSVs/TwitterUsersTable.csv"
users_df = pd.read_csv(filename)
print(len(users_df))

50

In [3]:
# rename "said_name" column to "Identity"
users_df.rename(columns={"said_name": "Identity"}, inplace=True)
users_df.head()

,name,Identity,User_ID,User Name,handle,Vocation,No# of Rows,Followers,Avg Retweets per Tweet,Avg Likes per Tweet,Ranking_by_followers,URL,Overall sentiment of the user,Assigned color for the sentiement (in hexidecimal)
0,"""Akshay Kumar""",Akshay Kumar,31348594,akshaykumar,@akshaykumar,Entertainment,"1,926.00","33,610,000.00","1,194.80","12,589.33",43.0,https://i.ibb.co/3R0FZ18/Akshay-Kumar.jpg,NaN,NaN
1,"""Amitabh Bachchan""",Amitabh Bachchan,145125358,srbachchan,@srbachchan,Entertainment,424,"39,850,000.00",993.38,"12,547.94",30.0,https://i.ibb.co/X8t3fQF/Amitabh-Banchan.jpg,NaN,NaN
2,"""Ariana Grande""",Ariana Grande,34507480,arianagrande,@arianagrande,Entertainment,72,"69,520,000.00","9,971.47","87,566.01",10.0,https://i.ibb.co/5GkSnwT/Ariana-Grande.jpg,NaN,NaN
3,"""Barack Obama""",Barack Obama,813286,barackobama,@barackobama,Politics,209,"112,290,000.00","8,111.01","38,724.10",1.0,https://i.ibb.co/wW2cdrF/Barack-Obama.jpg,NaN,NaN
4,"""BBC Breaking News""",BBC Breaking News,5402612,bbcbreaking,@bbcbreaking,News/Media,76,"41,400,000.00",941.61,"1,785.26",29.0,https://i.ibb.co/ZhS58TG/BBC.jpg,NaN,NaN

In [5]:
# connect to mongo
client = MongoClient("mongodb+srv://AtlasTwitter:1FineTwitterApp!@twittercluster.ycq9k.mongodb.net/")
mongo_db = client["Tweets_DB"]
mongo_collection = mongo_db["Users_Table"]

# prepare data for upload
users_df.reset_index(inplace=True)
data_dict = users_df.to_dict("records")

In [6]:
# Insert collection
mongo_collection.insert_many(data_dict)